body {
	margin: 0;
	padding: 0;
}

body>.container {
	padding-top: 0px;
}

#wrapper {
	background: #f9f9f9;
	padding: 20px;
	border: 1px solid #eee;
	border-top: none;
}

#wrapper h1#header {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #eee;
}

ul.categories, ul.categories ul {
	list-style-type: none;	
}

ul.categories li:before, ul.categories ul li:before {
	content: "→ ";
}

ul.categories ul li:before {
	content: "↪ ";
}

ul.categories li {
	padding: 3px 0;
}